/* sets the background color of the page */
html {
    background-color: whitesmoke;
}

/* this class is in charge of navbar formating and styling */
.navformat {
    list-style-type: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* makes the nav bar display horizontally */
li {
    display: inline-block;
    border-right: 1px solid black;
}